<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpl.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gpl.domain.Dept">
        <id column="Deptno" property="deptno" />
        <result column="Deptname" property="deptname" />
        <result column="Deptnum" property="deptnum" />
        <result column="Deptlc" property="deptlc" />
        <result column="DeptA" property="depta" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Deptno, Deptname, Deptnum, Deptlc, DeptA
    </sql>
    <select id="pageCC" resultType="com.gpl.domain.Dept">
        select * from dept ${ew.customSqlSegment}
    </select>
</mapper>
