<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpl.mapper.MajorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gpl.domain.Major">
        <id column="Mname" property="mname" />
        <result column="Mdept" property="mdept" />
        <result column="Mno" property="mno" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Mname, Mdept, Mno
    </sql>
    <select id="pageCC" resultType="com.gpl.domain.Major">
        select * from major ${ew.customSqlSegment}
    </select>
</mapper>
