<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpl.mapper.SpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gpl.domain.Sp">
        <id column="Sno" property="sno" />
        <result column="Pno" property="pno" />
        <result column="spid" property="spid" />
        <result column="Edate" property="edate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Sno, Pno, spid, Edate
    </sql>
    <select id="pageCC" resultType="com.gpl.domain.Sp">
        select * from sp ${ew.customSqlSegment}
    </select>
</mapper>
