<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpl.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gpl.domain.Student">
        <id column="Sno" property="sno" />
        <result column="Sname" property="sname" />
        <result column="Sage" property="sage" />
        <result column="SC" property="sc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Sno, Sname, Sage, SC
    </sql>
    <select id="pageCC" resultType="com.gpl.domain.Student">
        select * from student ${ew.customSqlSegment}
    </select>
</mapper>
